<?xml version="1.0"?>
<appSettings>
  <!--
    Note that the "ClientID" and "ClientSecret" parameters is configuration
    derived from your Azure Active Directory settings, not the Key Vault itself.
  -->
  <!-- 
    Dervied from:
      Azure Active Directory 
      > App registrations 
      > All apps (dropdown) 
      > APPLICATION ID (from your AD instance)
  -->
  <add key="ClientID" value="[APPLICATION ID]"/>
  <!--
    Derived from:
      Azure Active Directory 
      > App registrations 
      > All apps (dropdown)
      > Select your application ("APP-TOEPOKE" is our example)
      > Settings
      > Keys
      > AD-TOEPOKE-KEY
      > Value

    Now you'll notice that "Value" just says "Hidden".  
    You did make a copy of it when you created it didn't you?
  -->
  <add key="ClientSecret" value="[CLIENT SECRET]"/>
  <!--
    Derived from:
      Key Vaults
      > Select your key vault
      > Secrets
      > Select the secret (USERNAME or PASSWORD for this one)
      > Select the "Current Version"
      > Select the "Secret Identifier" field (note you don't want the Guid at the end, just REST endpoint)
        For example if the "Secret Identifier" is:
          https://YOUR-VAULT.vault.azure.net/secrets/MY-SECRET/SOME-RANDOM-GUID
        You just want
          https://YOUR-VAULT.vault.azure.net/secrets/MY-SECRET/
  -->
  <add key="UsernameSecretIdentifier" value="https://[YOUR-VAULT].vault.azure.net/secrets/USERNAME/"/>
  <add key="PasswordSecretIdentifier" value="https://[YOUR-VAULT].vault.azure.net/secrets/PASSWORD/"/>

</appSettings>

